<!doctype html>
<html>
<head>
<title> Cadastrar Vídeo </title>
<meta charset "utf-8" />
<meta http-equiv="Content-Language" content="pt-br">
</head>
<body>
<div align="center">
<form action="cadastro_video" method="POST">
    <fieldset>
        <legend><h1 style="text-align: center; font-family: Arial; color:red">Adicione o vídeo:</h1></legend>
        <div align="center">
            <label for="nome"><h2 style="font-family: Arial; color:red">Nome</h2></label>
            <input type="text" name="nome">
        </div>
        <div align="center">
            <label for="nome"><h2 style="font-family: Arial; color:red">Link</h2></label>
            <input type="text" name="link">
        </div>
    </fieldset>
    <button type="submit">Cadastrar vídeo</button>
</form>
</body>
</html>