<!doctype html>
<html>
<head>
<title> Cadastro </title>
<meta charset "utf-8" />
<meta http-equiv="Content-Language" content="pt-br">
</head>
<body>
<form method="POST">
    <fieldset>
        <legend><h1 style="text-align: center; font-family: Arial; color:red">Cadastro:</h1></legend>
        <div align="center">
            <label for="username"><h2 style="font-family: Arial; color:red">Username</h2></label>
            <input type="text" name="username">
        </div>
        <div align="center">
            <label for="nome"><h2 style="font-family: Arial; color:red">Nome</h2></label>
            <input type="text" name="nome">
        </div>
        <div align="center">
            <label for="password"><h2 style="font-family: Arial; color:red">Senha</h2></label>
            <input type="password" name="senha">
        </div>
        <div align="center">
            <label for="email"><h2 style="font-family: Arial; color:red">E-mail</h2></label>
            <input type="email" name="email">
        </div>
    </fieldset>
    <div align="center">
        <input type="submit" value="Enviar">
    </div>
</form>
</body>
</html>