<!doctype html>
<html>
<head>
<title> Excluir Vídeo </title>
<meta charset "utf-8" />
<meta http-equiv="Content-Language" content="pt-br">
</head>
<body>
<div align="center">
<form action="excluir" method="POST">
    <fieldset>
        <legend><h1 style="text-align: center; font-family: Arial; color:red">Exclua o vídeo:</h1></legend>
        <div align="center">
            <label for="nome"><h2 style="font-family: Arial; color:red">Nome</h2></label>
            <input type="text" name="nome">
    </fieldset>
    <button type="submit">Excluir vídeo</button>
</form>
</body>
</html>