<html>
    <head>
        <title>Página inicial</title>
    </head>
    <body>
<!--        <form action="login" method="POST">
            Usuario: <input name="user" type="text" {% if error %}style="border-color: red;"{% endif %}><br/>
            Senha: <input name="password" type="password"><br/>
            <input type="submit" value="Enviar">
        </form> -->
        <form method="POST">
        <fieldset>
                <legend><h1 style="text-align: center; font-family: Arial; color:red">Login:</h1></legend>
                <div align="center">
                <label for="username"><h2 style="font-family: Arial; color:red">Username</h2></label>
                <input type="text" name="username">
                </div>
                <div align="center">
                <label for="password"><h2 style="font-family: Arial; color:red">Senha</h2></label>
                <input type="password" name="senha">
                </div>
            </fieldset>
            {%if erro%}
            {{erro}}
            {%endif%}
            <div align="center">
                    <input type="submit" value="Enviar">
            </div>
        </form>
    </body>
</html>
